@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: FontAwesomeExtra;
    src: url(fa-extra.woff2);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: thin !important;
    scrollbar-color: #444 #ccc;
    font-family: 'Comfortaa', arial;
    --accent: #aa66ff;
    --accenttrans: #aa66ffee;
    --accenttranser: #aa66ffaa;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background-color: #eee;
}

.oui-button {
    font: inherit;
    color: inherit;
    border-radius: 0;
    display: inline-block;
    padding: 0 30px;
    font-size: .875rem;
    line-height: 38px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    background-color: var(--accenttrans);
    filter: drop-shadow(0px 0px 5px #00000022);
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0, .23, 0, .93);
}

.oui-b-dark {
    background-color: var(--accenttranser) !important;
    color: white;
    filter: drop-shadow(0px 0px 5px var(--accent)) !important;
}

.oui-b-dark:hover {
    background-color: var(--accent) !important;
    color: white;
    filter: drop-shadow(0px 0px 5px var(--accent)) !important;
}

.oui-b-light {
    background-color: #ffffffdd !important;
    color: var(--accent);
}

.oui-b-light:hover {
    background-color: #ffffff !important;
    color: var(--accent);
    filter: drop-shadow(0px 0px 5px #FFFFFF) !important;
}

.oui-button:hover {
    background-color: var(--accent);
    filter: drop-shadow(0px 0px 5px var(--accent));
    transform: scale(1.15);
    transition: all 0.2s cubic-bezier(0, .23, 0, .93);
}

.oui-button:active {
    background-color: var(--accent);
    filter: drop-shadow(0px 0px 3px var(--accent));
    transform: scale(1.05);
    transition: all 0.2s cubic-bezier(0, .23, 0, .93);
}

.oui-b-right {
    float: right !important;
    margin-left: auto;
}

.oui-navbar {
    display: flex;
    position: relative;
    min-height: 61px;
    background-color: var(--accent) !important;
    box-shadow: 0px 0px 15px #00000044;
    width: 100%;
    align-items: center;
    position: sticky;
    position: fixed;
    z-index: 50000;
}

.oui-nav-inner {
    width: 100%;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.oui-navlogo {
    height: 28px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    margin-right: 2px;
}

@keyframes slideup {
    0% {
        transform: translateY(10%) scale(0.95) scaleY(95%);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes slidedown {
    0% {
        transform: translateY(-100%) scale(0.9);
        opacity: 0;
        border-radius: 100px;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.oui-panelscroller {
    width: 900px;
    margin: auto;
    animation: 0.4s cubic-bezier(0, .23, 0, .93) 0s 1 slideup;
    -webkit-transition: all 0.4s cubic-bezier(0, .23, 0, .93) !important;
    margin-bottom: 50px;
    margin-top: 70px;
}

@media (max-width:960px) {
    .oui-panelscroller {
        width: 700px;
        transition: all 0.2s cubic-bezier(0, .23, 0, .93);
    }
}

@media (max-width:740px) {
    .oui-panelscroller {
        width: 95%;
        transition: all 0.2s cubic-bezier(0, .23, 0, .93);
    }
}

.oui-paneloutside {
    margin-top: 15px;
}

.oui-p-header {
    color: var(--accent);
    margin: 0;
    padding: 0;
    font-size: 32px;
}

.oui-p-subheader {
    color: var(--accent);
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 10px;
    margin-bottom: 30px;
}

.oui-panel {
    width: 100%;
    background-color: #fefefe;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px #0003);
    transition: all 0.2s cubic-bezier(0, .23, 0, .93);
}

.oui-panel-insidecont {
    padding: 30px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label .oui-radiobutton-true {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border: 3px solid var(--accent);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 500px;
    filter: drop-shadow(0px 0px 1px var(--accent));
    margin: 0 auto;
    margin-right: 10px;
}

.innercont {
    display: flex;
    justify-content: center;
    height: 100%;
}

span {
    width: 0px;
}

input[type="radio"]+label .oui-radiobutton-on {
    width: 12px;
    height: 12px;
    margin: 0;
    margin-top: -7px;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 500px;
    filter: drop-shadow(0px 0px 0px var(--accent));
    margin-right: 10px;
    margin: auto auto;
    transition: all 0.2s cubic-bezier(0, .23, 0, .93);
    transform: scale(0);
    opacity: 0;
}

.oui-radiocont {
    margin-top: 0px;
    margin-bottom: 20px;
}

.oui-radiolabel {
    color: var(--accent);
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

input[type="radio"]:checked+label .oui-radiobutton-on {
    opacity: 1;
    background-color: var(--accent);
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0, .23, 0, .93);
    filter: drop-shadow(0px 0px 4px var(--accent));
}

.oui-flex {
    display: flex;
}

.oui-textbox {
    padding: 8px;
    border: none;
    background-color: #fff;
    filter: drop-shadow(0 0 6px #0003);
    color: var(--accent);
    border-radius: 8px;
    font-size: 16px;
    width: 50%;
    font-weight: 800;
    font-family: "Comfortaa";
    display: inline;
    vertical-align: middle;
    transition: all 0.2s cubic-bezier(0, .23, 0, .93);
}

.oui-textbox:focus {
    background-color: #fff;
    filter: drop-shadow(0 0 6px var(--accent));
    color: var(--accent);
    transition: all 0.2s cubic-bezier(0, .23, 0, .93);
}

.oui-textbox-100 {
    width: 100%;
}

.oui-textbox-label {
    color: var(--accent);
    font-size: 25px !important;
    padding-right: 10px;
    font-weight: 800;
    width: auto;
    display: inline;
    margin-top: 5px;
    vertical-align: middle;
}

.oui-tbcontainer {
    display: inline;
}
