@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: FontAwesomeExtra;
    src: url(fa-extra.woff2);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: thin !important;
    scrollbar-color: #444 #ccc;
    font-family: 'Comfortaa', cursive;
    --accent: #aa66ff;
    --accenttrans: #aa66ffee;
    --accenttranser: #aa66ffaa;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    background-color: #eee;
}

.oui-button {
    font: inherit;
    color: inherit;
    border-radius: 0;
    display: inline-block;
    padding: 0 30px;
    font-size: .875rem;
    line-height: 38px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background-color: var(--accenttrans);
    filter: drop-shadow(0px 0px 5px #00000022);
    transform: scale(1);
    -webkit-transition: all 0.4s cubic-bezier(0, .23, 0, .93);
}

.oui-b-dark {
    background-color: var(--accenttranser) !important;
    color: white;
    filter: drop-shadow(0px 0px 5px var(--accent)) !important;
}

.oui-b-dark:hover {
    background-color: var(--accent) !important;
    color: white;
    filter: drop-shadow(0px 0px 5px var(--accent)) !important;
}

.oui-b-light {
    background-color: #ffffffdd !important;
    color: var(--accent);
}

.oui-b-light:hover {
    background-color: #ffffff !important;
    color: var(--accent);
    filter: drop-shadow(0px 0px 5px #FFFFFF) !important;
}

.oui-button:hover {
    background-color: var(--accent);
    filter: drop-shadow(0px 0px 5px var(--accent));
    transform: scale(1.15);
    -webkit-transition: all 0.2s cubic-bezier(0, .23, 0, .93);
}

.oui-b-right {
    float: right !important;
    margin-left: auto;
}

.oui-navbar {
    display: flex;
    position: relative;
    min-height: 61px;
    background-color: var(--accent) !important;
    box-shadow: 0px 0px 15px #00000044;
    width: 100%;
    align-items: center;
}

.oui-nav-inner {
    width: 100%;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.oui-navlogo {
    height: 28px !important;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    margin-right: 2px;
}

.oui-panelscroller {
    width: 900px;
    margin: auto;
    -webkit-transition: all 0.2s cubic-bezier(0, .23, 0, .93);
}

@media (max-width:960px) {
    .oui-panelscroller {
        width: 700px;
        -webkit-transition: all 0.2s cubic-bezier(0, .23, 0, .93);
    }
}

@media (max-width:740px) {
    .oui-panelscroller {
        width: 95%;
        -webkit-transition: all 0.2s cubic-bezier(0, .23, 0, .93);
    }
}

.oui-paneloutside {
    margin-top: 15px;
}

.oui-p-header {
    color: var(--accent);
    margin: 0;
    padding: 0;
}

.oui-p-subheader {
    color: var(--accent);
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 10px;
    margin-bottom: 10px;
}

.oui-panel {
    width: 100%;
    background-color: #fefefe;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px #0003);
    -webkit-transition: all 0.2s cubic-bezier(0, .23, 0, .93);
}

.oui-panel-insidecont {
    padding: 10px;
}
